<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
<table align="center" cellpadding="0" cellspacing="0" width="700" style="min-width:700px;max-width:700px;margin:0 auto">
    <tbody style="font-family: 'Roboto', Helvetica, Arial, sans-serif; margin: 0px auto; font-size: 0.875rem; overflow-x: hidden;">
    <tr>
        <td>
            <div class="website" style="max-width: 1280px; margin: auto; background: #2b57b7;">
                <div class="login_top"
                     style="width: 100%; background-position: top left; background-repeat: no-repeat; background-size: contain; text-align: center; padding-bottom: 64px;">
                    <div style="padding: 32px; display: flex; justify-content: space-between"></div>
                    <div style="width: 80%; box-shadow: 0 15px 45px 0 rgba(178,46,46,0.3); background-color: #ffffff; text-align: center; margin: auto;  border-radius: 12px;">
                        <div style="border-top-left-radius: 10px; border-top-right-radius: 10px ;padding: 24px 32px; display: flex; justify-content: space-between; align-items: center;">
                            <a href="#" style="display: flex; width: 50%;">
                                <img src="https://firebasestorage.googleapis.com/v0/b/englishcenter-2021.appspot.com/o/images%2Flogo.png?alt=media" alt="logo" style="height: 40px; margin: auto 0;"/>
                            </a>
                        </div>
                        <div style="font-size: 0.875rem; text-align: center; color: #494949; padding: 0 32px; margin: auto;">
                            <h2 style="text-align: left;">Khôi phục mật khẩu</h2>
                            <p style="margin-bottom: 0;margin-top: 0; margin-bottom: 10px; text-align: left;">
                                Chào <span th:text="${name}"></span>, bạn đã thực hiện khôi phục mật khẩu.</p>
                            <br/>
                            <p style="margin-bottom: 0;margin-top: 0; text-align: left;">Chọn vào link sau để thực hiện lấy lại mật khẩu <a th:href="${url}">tại đây</a></p>
                            <br/>
                            <p style="margin-bottom: 0;margin-top: 0; text-align: left;">Nếu bạn không phải người thực hiện yêu cầu này, vui lòng bảo qua email này</b>
                            </p>
                            <br/>
                            <br/>
                            <br/>
                            <hr style="opacity: 0.2; color:#494949; margin: 0"/>
                        </div>
                        <div style="border-bottom-left-radius: 10px; border-bottom-right-radius: 10px ;padding: 24px 32px; background-color: #3db043;">
                            <div style="text-align: left;">
                                <p style="margin: 0; margin-bottom: 5px; text-align: right;"><i>Trần Quốc Nam -
                                    18110323</i></p>
                                <p style="margin: 0; margin-bottom: 5px; text-align: right;"><i>Nguyễn Trần Phúc -
                                    18110339</i></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>